<nav id="za-bag-bar" class="flexrow">
    <ol id="za-bags" class="flexrow">
        <li data-slot="1" data-bag-id=""></li>
        <li data-slot="2" data-bag-id=""></li>
        <li data-slot="3" data-bag-id=""></li>
        <li data-slot="4" data-bag-id=""></li>
        <li data-slot="5" data-bag-id=""></li>
    </ol>
</nav>